body {
	background:#fafafa;
	color: #444;
}
/*
section{
	-webkit-font-smoothing: antialiased;
}*/

table {
	width: 100%;
}

ul.inline > li, ol.inline > li {
	padding:0;
}

@media (min-width: 1200px) {
	.container, .navbar-static-top .container, .navbar-fixed-top .container, .navbar-fixed-bottom .container {
		width: 960px;
	}
	
	.span4 {
	width: 370px;
	}
	
	
	.span12 {
	  width: 940px;
	}
	
	.span11 {
	  width: 860px;
	}
	
	.span10 {
	  width: 780px;
	}
	
	.span9 {
	  width: 700px;
	}
	
	.span8 {
	  width: 620px;
	}
	
	.span7 {
	  width: 540px;
	}
	
	.span6 {
	  width: 460px;
	}
	
	.span5 {
	  width: 380px;
	}
	
	.span4 {
	  width: 300px;
	}
	
	.span3 {
	  width: 220px;
	}
	
	.span2 {
	  width: 140px;
	}
	
	.span1 {
	  width: 60px;
	}
	
	[class*="span"] {
	margin-left: 20px;
	}
}

@media (max-width: 979px) {
	#search-block-form .form-type-textfield input {
		width: 150px;
	}
	
}



@media (max-width: 480px) {
	
	header ul.main-menu {
		margin-left:-10px;
		float:left;
	}
	
	header ul.main-menu li {
		display: block;
		clear: both;
	}
	
	input[type="text"] {
		width: 90%;
	}
	
	#search-block-form .form-type-textfield input {
		width: 100px;
	}
}

legend {
	margin:0;
	border: 0;
}

blockquote {
	border-color: #ddd;
}

.form-item {
	margin-bottom:5px;
}

label {
	font-weight:bold;
}

h2 {
	font-size: 24px;
	line-height: 1.3em;
}

#page-title h2{
	font-size:48px;
	margin:0;
	letter-spacing: -2px;
}

#page-title {
	margin:15px 0;
}

h3 {
	font-size: 18px;
	line-height:25px;
}

.top-section h3, .white-section h3 {
	font-size:24px;
	margin: 5px 0px 20px 0px;
}

h4 {
	font-size: 16px;
	line-height:22px;
}

ul.menu {
	margin:0;
}

.nav {
	margin:0;
}

.nav-pills > li > a {
	border-radius: 3px;
	font-weight:bold;
	padding: 8px 14px;
}

select,
textarea,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
.uneditable-input:focus {
	-webkit-box-shadow: 0 0 0 rgba(15, 88, 146, 0.8);
	   -moz-box-shadow: 0 0 0 rgba(15, 88, 146, 0.8);
	        box-shadow: 0 0 0 1px rgba(15, 88, 146, 0.6);
}

.form-actions {
	padding:0;
	background: none;
	border:none;
	margin: 15px 0px 5px;	
}

.form-actions input {
	margin-right:5px;
}

.fieldset-wrapper {
	background:#eee;
	padding:10px 2%;
	border-radius:5px;
	font-size:13px;
	float:left;
	width: 96%;
	margin-bottom:10px;
}

header {
	padding-top: 20px;
	font-size:14px;
	background: #006600;
	color:#fff;
	border-bottom: 1px solid #333;
}


header li, .navbar-static-top li {
	list-style:none;
	display:inline;
	margin-right:15px;
}

header a {
	color:#fff;
}

#logo a:hover {
	text-decoration: none;
}

#logo img {
	float:left;
	margin-right:10px;
}

#logo a h1{
	font-size:42px;
	color:#fff;
}

/* Full width page*/

.without-sidebar .block {
	margin: 30px 0 50px;
	padding-bottom:50px;
	border-bottom:1px solid #eee;
}

.without-sidebar .block h3 {
	font-size:38px;
	line-height: 120%;
	margin: 30px 0;
}

.front .without-sidebar .block h3 {
	text-align: center;
}

.without-sidebar .block.block-menu, .without-sidebar .block.block-system {
	border: none;
	padding-bottom:0;
	margin:0;
}

/* Main menu*/

header .main-menu {
	margin-top:15px;
}

header .main-menu a {
	font-size: 14px;
	color: #fff;
	padding: 8px 12px 9px 12px;
	border-radius: 0;
	border-bottom: 3px solid transparent;
}

header .main-menu a:hover, header .main-menu a.active {
	background:none;
	color: #fff;
	-webkit-transition: color 0.1s linear;
	-moz-transition: color 0.1s linear;
	-o-transition: color 0.1s linear;
	transition: color 0.1s linear;
	border-bottom: 3px solid #fff;
}

header .main-menu li {
	margin: 0 15px 0 0;
}

header .main-menu li.last {
	margin:0;
}

.navbar.main-menu {
	margin:0;
}

.main-menu .navbar-inner {
	padding:0;
}

ul.main-menu {
	float: right;
	font-size: 18px;
}


@media (max-width: 979px) {  /*Responis navbar */
	.nav-collapse, .nav-collapse.collapse {
	height: auto;
	overflow: hidden;
	}
}

header .flex-nav-container {
	color: #f3f3f3;
}

.not-front .title-section {
	background:#fefefe;
	border-bottom: 1px solid #eee;
	margin-bottom:10px;
}

.title-section .span4 {
	margin-top:20px;
	text-align:right;
}

.title-section .block#block-search-form {
	border:none;
	background:transparent;
	height:40px;
	margin-top: 20px;
	float: right;
	width: auto;
	padding:0;
}

.title-section .block h3 {
	margin:0;
}

#search-block-form {
	margin:0;
}

#search-block-form .form-item {
	float:left;
}

#search-block-form .form-type-textfield input {
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	border-right: none;
}

#search-block-form .form-actions {
	height: 20px;
	min-width: 16px;
	padding: 4px 5px;
	font-weight: normal;
	line-height: 20px;
	text-align: center;
	text-shadow: 0 1px 0 white;
	background-color: #EEE;
	border: 1px solid #CCC;
	float:left;
	margin:0;
	-webkit-border-top-right-radius: 2px;
	-webkit-border-bottom-right-radius: 2px;
	-moz-border-radius-topright: 2px;
	-moz-border-radius-bottomright: 2px;
	border-top-right-radius: 2px;
	border-bottom-right-radius: 2px;
}

#search-block-form .form-actions input {
	display: inline-block;
	width: 14px;
	height: 14px;
	margin-top: 1px;
	line-height: 14px;
	vertical-align: text-top;
	background-image: url("img/glyphicons-halflings.png");
	background-position: 14px 14px;
	background-repeat: no-repeat;
	background-position: -48px 0;
	background-color:transparent;
	padding:5px;
	border: 0;
}

/*Search page*/

.search-form {
margin-bottom: 1em;
background: #fff;
border: 1px solid #eee;
padding: 10px 20px 0px;
border-radius: 3px;
}

#search-form input {
	margin:0;
}

.search-results .search-snippet-info {
	border-bottom: 1px solid #eee;
	padding-left: 0;
}

.search-results h3 {
	margin-bottom:0;
}

.search-results .search-snippet-info p {
	margin-bottom:3px;
}

html.js fieldset.collapsed.search-advanced  {
	height:auto;
}

ol.search-results {
	margin:0;
}

.form-type-checkbox label {
	display: inline;
}

.inline li {
	display:inline;
}

.text-align-center {
	text-align:center;
}

.extra-padding .row-fluid {
	padding-bottom:20px;
}

input, textarea {
width: auto;
}


#logo {
	padding-bottom: 10px;
}
.white-section {
	background:#fff;
	margin-bottom: 30px;
	border-bottom:1px solid #efefef;
	border-top:1px solid #eee;
	padding:40px 0;
}

.main-section {
	margin-top:5px;
	margin-bottom: 30px;
}


#breadcrumb {
	font-size:13px;
}

.breadcrumb {
padding:0;
margin: 0 ;
background-color: transparent;
}

.breadcrumb a {
	color: #666;
}

.pager {
	text-align:left;
	clear: both;
}

.pager li > a, .pager li > span, .pager li {
	border: none;
	background: transparent;
	font-size: 20px;
	font-weight: bold;
	padding: 5px;
	border-radius:3px;
}

#left-sidebar .block {
	margin-bottom:20px;
}
#left-sidebar .block-views {
	background: #fff;
	padding: 3px 3%;
	border: 1px solid #eee;
	margin-bottom: 20px;
	border-radius: 2px;
	float: left;
	width: 94%;
	font-size: 13px;
}

#left-sidebar .block-views select {
	width: 210px;
}

#left-sidebar .block-menu ul li {
	list-style: none;
	font-size: 16px;
	font-weight: bold;
	margin-top: 4px;
	margin-bottom:10px;
}

#left-sidebar .block-menu ul li a {
	padding:5px;
	border-radius: 3px;
	font-weight: bold;
	padding:8px 0px;
	background:#eee;
	color:#000;
	display:block;
	width: 100%;
	text-align: center;
}

#left-sidebar .block-menu ul li a:hover {
	background: #006600;
	color: #fff;
	text-decoration: none;
}

#left-sidebar select, #left-sidebar .input {
	height: auto;
}

#left-sidebar .views-field-title {
	font-weight:bold;
}

/*Forms*/

input.error {
	border:1px solid red;
}

/*Product page */

.node-product-display h2 {
	font-size:30px;
}

.node-product-display .commerce-product-field-field-image {
	float:left;
	padding-right:4%;
}

.node-product-display .product .commerce-product-field-commerce-price {
	font-size:22px;
	font-weight:bold;
	margin-bottom:10px;
}

.node-product-display .commerce-add-to-cart {
	padding-bottom: 10px;
	border-bottom: 1px solid #ddd;
}

.node-product-display .commerce-add-to-cart select#edit-product-id {
	margin-bottom:3px;
}

.node-product-display .form-item-quantity {
	display:inline;
}

.node-product-display .form-item-quantity input {
	margin-bottom:0;
}

.node-product-display label {
	font-size:13px;
	font-weight:bold;
	color:#666;
	margin:0;
}

.product-image .flexslider {
	padding-top:0;
}

.product-image .flexslider .slides img {
	max-width: 100%;
}

.region-content ul.field-slideshow-pager {
	margin:0;
}

/*Catalog grid */
.view-header {
	border-bottom: 1px solid #eee;
	font-size:13px;
	color:#666;
	padding: 3px 0;
}

.view-header a {
	color:#000;
}

.catalog-grid.row-fluid .span3.views-row {
	margin: 5px 5px 30px;
	border-bottom:3px solid #eee;
	text-align:center;
}

.catalog-grid.row-fluid .span3.views-row:hover {
	border-bottom:3px solid #999;
}

.catalog-grid .views-row .views-field-field-image {
	margin: 5px 0;
}

.store-catalog {
	text-align: center;
}

.store-catalog .views-row {
	padding-bottom:10px;
	border-bottom: 3px solid #eee;
	margin-bottom:30px;
}

.store-catalog .views-row a {
	color: #000;
}

.store-catalog .views-row:hover {
	border-bottom-color: #666;
}

.store-catalog .views-field-title {
	font-weight:bold;
	font-size:14px;
	line-height:16px;
	margin-top: 7px;
	height:30px;
}

/*Catalog grid */

/*Currency block in header*/

#block-commerce-multicurrency-currency-selector {
	float: right;
}

#block-commerce-multicurrency-currency-selector form {
	margin:0;
}

#block-commerce-multicurrency-currency-selector select {
	line-height:15px;
	font-size:12px;
	width: auto;
	height:auto;
	margin:0;
}

/*Cart block in header */
#block-views-cart-inline-block-block-1  {
	float: right;
	text-align: right;
	border-top: 1px #eee solid;
	margin-top: 5px;
	padding-top: 5px;
}

#block-views-cart-inline-block-block-1 .line-item-summary .line-item-quantity, #block-views-cart-inline-block-block-1 .line-item-summary .line-item-total {
	display:inline;
	text-align:right;
	float: none;
	margin:0;
}

#block-views-cart-inline-block-block-1 .links {
	margin:0;
}

#block-views-cart-inline-block-block-1 .line-item-total-label {
	display:none;
}

#block-views-cart-inline-block-block-1 a {
	font-weight:bold;
}

#block-views-cart-inline-block-block-1 .line-item-summary-checkout {
	margin-left:5px;
	margin-right:0;
}


/*Messages*/


.messages  {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  color: #c09853;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.messages {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}

.messages.error {
  color: #d00300;
  background-color: #ffb5b5;
  border-color: #eed3d7;
}

.messages.info {
  color: #3a87ad;
  background-color: #d9edf7;
  border-color: #bce8f1;
}

/*Featured block */

#block-views-featured-slider-block {
	width: 100%;
	text-align:center;
	background:#fff;
	float:left;
	margin-bottom: 5px;
}


/*Chekout*/

#commerce-checkout-form-checkout {
	margin:0;
}

#commerce-checkout-form-checkout .messages {
	display:none;
}

input.checkout-continue {
	margin-right:5px;
}

#edit-cart-contents {
	float:left;
	margin:0;
}

#edit-cart-contents .fieldset-wrapper {
	background:#efefef;
	padding:5px;
}

input#edit-account-login-mail {
	width: 220px;
}

#customer-profile-shipping-ajax-wrapper {
 	float:right;
	width: 300px;
}

.page-checkout #block-system-main label {
	color:#666;
	font-weight:bold;
}

.page-checkout #edit-commerce-coupon, .page-checkout #edit-buttons  {
	margin: 5px 0;
}

.page-checkout #edit-account, .page-checkout #edit-customer-profile-shipping, .page-checkout #edit-customer-profile-billing {
	float:right;
}

.checkout_review {
	background: #efefef;
	padding-top:10px;
}

.page-checkout #block-system-main .form-item, .page-checkout #block-system-main .field-item {
	font-size:13px;
}

.page-checkout #edit-account label, .page-checkout .checkout-review label, #edit-commerce-payment-payment-method label{
	display:inline;
}

#edit-commerce-payment-payment-method {
	float:left;
	max-width: 45%;
}

#edit-commerce-payment-payment-method input {
	margin:0;
}

.page-checkout #edit-commerce-payment-payment-method label{
	line-height:30px;
	font-weight:normal;
	color:#000;
}

#payment-details {
	float:left;
	margin-left: 5%;
	max-width: 50%;
	padding:2%;
	border: 1px solid #efefef;
	border-radius:5px;
}

/*submitted*/

.submitted span {
	margin-right:10px;
}

.submitted i {
	opacity: 0.6;
	margin-right:2px;
	margin-top:0;
}

/*Nodes*/

.node {
	margin-bottom:35px;
	padding-bottom:3px;
}

.with-sidebar .node {
	border-bottom:1px solid #eee;
}

.node h2 {
	margin:0;
	font-size:30px;
}

.meta {
	color:#666;
	font-size:12px;
	margin: 3px 0;
}

.node .field {
	clear: both;
}

ul.links {
	margin:0;
	font-size:13px;
	font-weight:bold;
}

.node ul.links {
	float:right;
}

.node .links li {
	margin-right:20px;
}

.node .links li:last-child {
	margin:0;
}

/* Blog */
.view-blog .views-row {
	margin-bottom:30px;
}

.view-blog h2 {
	margin-bottom: 0;
}

.view-blog h2 a {
	color:#000;
}

.view-blog p {
	margin:0;
}

.field-name-field-tags {
	color: #666;
	font-size:12px;
	margin-top:15px;
}

.field-name-field-tags .field-item{
	margin-left: 8px;	display:inline;
}

.field-name-field-tags .field-item a {
	border-radius: 3px 3px 3px 3px;
	padding: 1px 4px 2px;
	background: #EEE;
}

.field-name-field-tags .field-item a:hover {
	background:#ccc;
	text-decoration: none;
	color: #00466a;
}

.field-name-field-featured-image {
	margin-bottom:10px;
}

/*Footer*/

footer {
	border-top: 1px #aaa solid;
	background: #000;
	padding-top:40px;
	font-size:13px;
	color: #fff;
	color: #aaa;
}

footer a {
	color: #fff;
}

footer a:hover {
	color: #fff;
}

footer li {
	list-style:none;
}

footer h3 {
	font-size:16px;
	margin: 5px 0;
	line-height:30px;
}

#footer-copyright {
	margin: 20px 0 10px;
	font-size: 13px;
	border-top: 1px solid #333;
	padding-top: 20px;
}


/* expanded main menu*/


ul.main-menu.inline.nav > li.expanded > a {
	float:left;
}

ul.main-menu.inline .expanded {
	position:relative;
	float:left;
}

ul.main-menu.inline .expanded:hover {
	color: #fff;
}

ul.main-menu.inline .expanded:hover a {
	color: #fff;
}

ul.main-menu.inline .expanded:hover ul a {
	color: #000;
}
 
ul.main-menu.inline ul.inline {
	display:none;
	position:absolute;
	top: 0px;
	left:0px;
	width: 98%;
	margin-top: 33px;
	z-index:1000;
	border-top: none; 
}

ul.main-menu.inline ul.inline li a {
	font-size:14px;
	font-weight:normal;
	margin:0;
	color:#000;
	width: 196px;
	border-radius: 0;
	-webkit-border-radius: 0;
	-moz-border-radius: 0;
	-o-border-radius: 0;
	border-bottom:1px solid #333;
	padding: 15px 12px;
	font-weight:bold;
}

ul.main-menu.inline ul.inline a:hover {
	color: #fff;
	background:#333;
	-webkit-transition: all 0.3s linear;
	-moz-transition: all 0.3s linear;
	-o-transition: all 0.3s linear;
	transition: all 0.3s linear;
}

ul.main-menu.inline .expanded:hover ul.inline {
	display:block;
	width: 220px;
    box-shadow:0px 0px 2px #333;
	background-color: #fff;
}
ul.main-menu.inline ul.inline li{
	display:block;
	float:none;
	margin:0;
}



/*Comment*/

#comments {
	border-top: 3px solid #999;
	padding-top: 20px;
	clear: both;
}

.comment {
	margin-top:20px;
	margin-bottom:10px;
	border-bottom: 1px solid #ccc;
	width: 100%;
	padding-bottom:10px;
}

.comment-userpic {
	float:left;
	width: 70px;
}

.comment-userpic .user-picture {
    float:left;
	background:#fff;
	border: 1px solid #eee;
	padding:2px;
	border-radius: 2px;
}
.comment .user-picture img {
width: 50px;
float: left;
}


.comment-content {
	float:left;
	max-width:560px;
}

.comment .node .field {
	clear: none;
}

.comment .content {
	margin-bottom:10px;
}

.comment .new {
	font-size:12px;
	color: red;
}

.comment h3 {
	margin: 0 0 5px;
	font-size: 16px;
	line-height: 20px;
}

.comment p {
	margin: 0;
}

.comment .submitted {
	font-size:13px;
	color:#888;
	margin-bottom:5px;
	
}

.comment .submitted a {
	color: #666;
}

.comment .links.inline {
	float:right;
	clear:both;
}


.title.comment-form {
	margin-top:20px;
}

/*blog post gallery*/ 

.field-name-field-gallery-images .field-item {
	float:left;
	width: 23%;
	overflow:hidden;
	background:#fff;
	margin: 10px 2% 10px 0;
}

/*flex slider*/

.flex-direction-nav li a {
	background-image: url(img/bg_control_nav.png); 
	display:none;
}

.flex-control-nav li a {
	background-image: url(img/bg_control_nav.png);
}

.flexslider {
	background:transparent;
	border:none;
	padding:40px 0;
}

.flexslider .btn {
background: #fff;
color: #000;
border: none;
}

.flexslider .btn:hover {
	background-color: #0066cc;
	color:#fff;
}

.flexslider h3 {
	font-size: 42px;
	line-height:120%;
	font-weight: bold;
	letter-spacing: -1px;
}

.flexslider input {
	border-color: #333;
	font-size: 12px;
	min-width: 60%;
	margin-left:1px;
}

.flexslider button {
	margin-left:1px;
}

.flexslider .views-field-field-slider-image {
	float:right;
}

.flexslider ul.slides li .slider-right img {
	margin: 0 auto;
	max-width: none;
}

/*Top section*/

.top-section {
	padding: 40px 0px 50px 0;
	text-align:center;
}

.clients h3 {
	font-size: 30px;
	text-align: center;
	margin-bottom: 0px;
	background:#fff;
	border-top: 1px solid #eee;
	padding: 40px 20px 0;
	margin-top: 30px;
}

/*Footer 'END' region*/

#end {
	background:#e9e9e9;
	border-top:1px solid #ddd;
	font-size:13px;
	color: #666;
	padding-top:30px;
	padding-bottom: 20px;
}

#end h3 {
	font-size: 20px;
	margin: 5px 0 15px;
}

#end a {
	color:#000;
}

#end .views-field-title {
	font-weight:bold;
}

#end .views-row {
	padding-bottom: 4px;
	border-bottom: 1px solid #ccc;
	padding-top: 4px;
	width: 100%;
	float:left;
}



/*Portfolio*/


#block-menu-menu-portfolio-menu {
	width: 100%;
	padding: 10px 0;
	margin: 10px 0;
}

#block-menu-menu-portfolio-menu li{
	list-style:none;
	display: inline;
	margin-right:20px;
	font-weight:bold
	
}

#block-menu-menu-portfolio-menu li a {
	padding:5px 15px;
	color: #000;
	font-size:16px;
}

#block-menu-menu-portfolio-menu li a:hover {
	background:#006600;
	border-radius:3px;
	text-decoration:none;
	color:#fff;
}

.portfolio-grid {
	clear: both;
}

.portfolio-grid .views-row {
	margin-bottom:40px;
    text-align: center;
}

.portfolio-grid .views-field-field-portfolio-image {
	background: #000;
}

.portfolio-grid .views-row-4, .portfolio-grid .views-row-7, .portfolio-grid .views-row-10, .view-portfolio .views-row-13 {
	margin-left:0;
}

.portfolio-grid .views-row a {
	overflow:hidden;
}

.portfolio-grid img {
opacity: 1.0;
transition: 0.1s ease-in-out;
-moz-transition: 0.1s ease-in-out;
-webkit-transition: 0.1s ease-in-out;
width: 100%;
}

.portfolio-grid .views-row img:hover {
	opacity: 0.3;
	transition: 0.3s ease-in-out;
	-moz-transition: 0.3s ease-in-out;
	-webkit-transition: 0.3s ease-in-out;
}

.portfolio-grid .views-field-title {
	height:0;
	text-align:center;
	display: none;
}

.portfolio-grid .views-field-title a {
	color: #fff;
	border: 0;
	font-size:18px;
	font-weight:bold;
	position:relative;
	bottom: -95px;
	text-align:center;
	margin:0 5%;
	width: 90%;
	background: none; 
}

.portfolio-grid .views-field-title a:hover {
	background: none;
	border: none;
}

/*Right sidebar*/

#right-sidebar h3 {
	font-size: 18px;
	line-height: 24px;
	margin: 10px 0 ;
}

#right-sidebar .block {
	background:#fff;
	padding: 3px 3%;
	border:1px solid #eee;
	margin-bottom:20px;
	border-radius:2px;
	float:left;
	width:  94%;
	font-size:13px;
}

#right-sidebar .views-row {
	padding-bottom: 5px;
	border-bottom: 1px solid #F4F4F4;
	padding-top: 5px;
	width: 100%;
	float:left;
}

#right-sidebar .views-field-created {
	color: #666;
	font-size: 13px;
}

#right-sidebar .views-field-title a {
	font-weight:bold;
	color:#000;
}

#right-sidebar .views-row {
	margin-bottom: 10px;
}

/*view-latest-blog-post*/



.view-latest-blog-post .views-field-field-featured-image {
	float:left;
	padding-right:10px;
}

/*Price page*/

.pricing {
	margin-top:20px;
}

.price-block {
	background:#fff;
	border:1px solid #999;
	border-radius: 3px;
	margin-bottom: 30px;
}

.price-block h2 {
	background:#ccc;
	color:#fff;
	padding:8px 10px;
	-webkit-border-top-left-radius: 2px;
	-webkit-border-top-right-radius: 2px;
	-moz-border-radius-topleft: 2px;
	-moz-border-radius-topright: 2px;
	border-top-left-radius: 2px;
	border-top-right-radius: 2px;
	color: #000;
	
}

.price-block.plan-features {
	margin-top: -15px;
	border-color: #006600;
}

.price-block.plan-features h2 {
	padding:15px 10px;
	margin-right: 0px;
	background: #006600;
	font-size: 34px;
	color: #fff;
}

.price-block.plan-features a.order {
	padding: 15px;
}

.subHeadline {
	color:#666;
}

.price-block .price {
	font-size: 20px;
	font-weight:bold;
	padding:10px 0;
	color: #000;
}

.price-block .content {
	padding:10px;
}

.price-block ul {
	margin:0;
}

.price-block li {
	list-style: none;
}

.price-block a.order {
	display:block;
	padding: 10px;
	border-radius:3px;
	background:#006600;
	color:#fff;
	font-weight:bold;
	font-size:16px;
	text-align:center;
	margin-top:40px;
}

.price-block a.order:hover {
	text-decoration:none;
	background-color: #bf4c00;
}

/*User login */
#block-user-login ul {
	margin: 0;
}

#block-user-login li{
	list-style:none;
	margin:0;
}


/*Twitter block */

.twitter_block ul{
	margin:0;
}

.twitter_block div.tweet {
	position:relative;
	float:left;
	width: 100%;
	border-bottom: 1px solid #CCC;
	line-height: 18px;
	margin-bottom:10px;
}

.twitter_block .twitter_block_user{
	float:left;
}

.twitter_block .twitter_block_user img {
	display:none;
}

.twitter_block .twitter_block_user_name {
line-height: 16px;
font-weight: bold;
}


/*Buttons*/

.btn {
	  background-image:none;
	  box-shadow: none;
	  border-radius:3px;
	  border: none;
}
.btn-large {
	font-weight:bold;
	font-size:18px;
	padding: 10px 25px;
}

.btn:hover {
-webkit-transition: all 0.2s linear;
-moz-transition: all 0.2s linear;
-o-transition: all 0.2s linear;
transition: all 0.2s linear;	
}

.btn-color {
	background: #009933 ;
	color: #fff;
	text-shadow: none;
}

.btn-fw {
	width: 100%;
	padding-left:0;
	padding-right:0;
}

.btn-color:hover {
	background: #006600 ;
	color: #fff;
}

/*Full width slider */

.flexslider .slides img {
	max-width: none;
}

/*
#block-views-front-page-slider-block .views-row-1 .span6 {
	width: auto;
}

#block-views-front-page-slider-block .views-row-1 .slider-right {
	margin: 0 -500px;
	height:300px;
	overflow:hidden;
	width: auto;
}

#block-views-front-page-slider-block .views-row-1 .slider-left {
	color:#000;
	text-align:center;
	position:absolute;
}*/

#block-block-15 {
	background:#fff;
	padding: 50px 0 90px;
}

#block-block-15 h2 {
	font-size: 32px;
	font-weight:normal;
}

/*Page 404*/

.page-404 #page-title h2 {
font-size: 80px;
margin-top: 140px;
}

.page-404 #block-system-main .content {
	margin-bottom:180px;
	font-size:22px;
}


/*User page*/

.page-user .main-section {
	min-height:400px;
}

@media (max-width: 767px) {
	body {
	padding:0;
	}
	
	header, section, footer {
		padding:0 30px;
	}
	
	#search-block-form .form-type-textfield input {
		width: 150px;
	}
	
	ul.main-menu, .title-section .block#block-search-form {
		float:left;
	}
	
	.title-section .span4 {
		text-align:left;
	}
}